[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
